@font-face {
  font-family: "Aligarh";
  src: url("/fonts/Aligarh/");
  src: local("/fonts/Aligarh/Aligarh Bold"), local("Aligarh-Bold"),
    url("/fonts/Aligarh/?#iefix") format("embedded-opentype"),
    url("/fonts/Aligarh/Aligarh-Bold.woff2") format("woff2"),
    url("/fonts/Aligarh/Aligarh-Bold.woff") format("woff"),
    url("/fonts/Aligarh/Aligarh-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aligarh Semi";
  src: url("/fonts/Aligarh/Aligarh-SemiBold.eot");
  src: local("/fonts/Aligarh/Aligarh Semi Bold"), local("Aligarh-SemiBold"),
    url("/fonts/Aligarh/Aligarh-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Aligarh/Aligarh-SemiBold.woff2") format("woff2"),
    url("/fonts/Aligarh/Aligarh-SemiBold.woff") format("woff"),
    url("/fonts/Aligarh/Aligarh-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aligarh";
  src: url("/fonts/Aligarh/Aligarh-Medium.eot");
  src: local("/fonts/Aligarh/Aligarh Medium"), local("Aligarh-Medium"),
    url("/fonts/Aligarh/Aligarh-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Aligarh/Aligarh-Medium.woff2") format("woff2"),
    url("/fonts/Aligarh/Aligarh-Medium.woff") format("woff"),
    url("/fonts/Aligarh/Aligarh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aligarh";
  src: url("/fonts/Aligarh/Aligarh-Light.eot");
  src: local("/fonts/Aligarh/Aligarh Light"), local("Aligarh-Light"),
    url("/fonts/Aligarh/Aligarh-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Aligarh/Aligarh-Light.woff2") format("woff2"),
    url("/fonts/Aligarh/Aligarh-Light.woff") format("woff"),
    url("/fonts/Aligarh/Aligarh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aligarh";
  src: url("/fonts/Aligarh/Aligarh-Regular.eot");
  src: local("/fonts/Aligarh/Aligarh"), local("Aligarh-Regular"),
    url("/fonts/Aligarh/Aligarh-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Aligarh/Aligarh-Regular.woff2") format("woff2"),
    url("/fonts/Aligarh/Aligarh-Regular.woff") format("woff"),
    url("/fonts/Aligarh/Aligarh-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aligarh";
  src: url("/fonts/Aligarh/Aligarh-Thin.eot");
  src: local("/fonts/Aligarh/Aligarh Thin"), local("Aligarh-Thin"),
    url("/fonts/Aligarh/Aligarh-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Aligarh/Aligarh-Thin.woff2") format("woff2"),
    url("/fonts/Aligarh/Aligarh-Thin.woff") format("woff"),
    url("/fonts/Aligarh/Aligarh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Open sans, Helvetica, sans-serif;
  background: #f6f6f6;
  padding: clamp(20px, 5vw, 50px) 10px 10px;
  margin-top: 5rem;
  -webkit-font-smoothing:antialiased;

}

.titre {
  color: white;
  color: #316bf9;
  text-align: center;
  font-size: clamp(2rem, 1.3182rem + 3.4091vw, 3.5rem);
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: bold;

  z-index: 15;
  position: relative;

  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 2s;
  opacity: 0;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.lock-circle {
  height: 540px;
  width: 330px;
  border-radius: 135px;
  z-index: 5;
  background-color: white;
  margin: 0 auto;
  animation: unlock-circle 4s forwards;
  animation-iteration-count: 1;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.lock-circle-inside {
  height: 540px;
  width: 150px;
  border-radius: 90px;
  /* z-index: 3; */
  background-color: #f6f6f6;
  position: relative;
  margin: 0 auto;
  top: 75px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.lock-box {
  animation-name: unlock-box;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  position: relative;
  height: 150px;
  width: 150px;
  background-color: #f6f6f6;
  bottom: 230px;
  left: 230px;
  z-index: 80;
}

@media screen and (max-width:425px){
.lock-circle{
  height: 360px;
  width: 220px;
  top: 0%;



}

.lock-circle-inside{
  height: 360px;
  width: 100px;
  border-radius: 60px;

}

.lock-box{
  height: 100px;
  width: 100px;
  left: 150px;
  animation-name: unlock-box425px;


}

}

@keyframes unlock-circle {
  0% {
    bottom: 200px;
  }
  25% {
    bottom: 200px;
  }
  50% {
    bottom: 150px;
  }
  75% {
    bottom: 150px;
  }
  100% {
    bottom: 150px;
  }
}

@keyframes unlock-box {
  0% {
    bottom: 280px;
  }
  25% {
    bottom: 280px;
  }
  50% {
    bottom: 220px;
  }
  75% {
    bottom: 220px;
  }
  100% {
    bottom: 200px;
  }
}

@keyframes unlock-box425px {
  0% {
    bottom: 180px;
  }
  25% {
    bottom: 180px;
  }
  50% {
    bottom: 150px;
  }
  75% {
    bottom: 150px;
  }
  100% {
    bottom: 130px;
  }
}



.container {
  position: relative;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  color: #111;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 12px;
  background: white;

  z-index: 10;

  
   
}

.contenu{

  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
  animation-delay: 2.3s;
  opacity: 0;



}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




@-webkit-keyframes fade-out-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
}
@keyframes fade-out-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
    display: none;
    z-index: 0;
  }
}

.lock-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: fade-out-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;


}

.lock-inside-top {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #316bf9;
  z-index: 300;
  bottom: 15px;
  /* left: 75px; */
  position: absolute;
}

.lock-inside-bottom {
  width: 60px;
  height: 160px;
  background-color: #316bf9;
  z-index: 300;
  /* bottom: 85px;
  left: 85px; */
  position: absolute;
}

.heading {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 100;
}
.password-container {
  display: flex;
  align-items: flex-end;
}
.password-container p {
  font-size: 20px;
  margin-right: 15px;
  letter-spacing: 1px;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
.copy-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: #316bf9;
}
/* .copy-btn:hover {
background-color: white;
} */
.copy-btn img {
  width: 50%;
}
.copy-btn::before {
  content: "👍";
  font-size: 16px;
  padding: 6px;
  white-space: nowrap;
  display: block;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background: #fff;
  display: none;
}
.copy-btn.active::before {
  display: block;
  animation: toast 1s ease-out;
}
@keyframes toast {
  to {
    transform: translateX(-50%) translateY(-2px);
  }
}
.range-group {
  margin-top: 30px;
}
.range-group label,
.range-group input {
  display: block;
}
.range-group label {
  font-size: 16px;
}
.range-group input {
  margin-top: 10px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

.checkboxes-container {
  margin: 30px 0;
}
.checkbox-group {
  display: flex;
  align-items: center;
}
.checkbox-group:not(:first-of-type) {
  margin-top: 20px;
}
.checkbox-group input {
  border: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.checkbox-group label {
  font-size: 16px;
  padding-left: 18px;
  font-size: 100;
  cursor: pointer;
}

.generate-password-btn {
  font-size: 18px;
  min-width: 150px;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  color: #fff;
  background: #316bf9;
}
.generate-password-btn:hover {
  background: #316bf9;
  color: #fff;
  -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  90% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}

.error-msg {
  margin-top: 20px;
  text-align: center;
  color: #111;
}
