

@font-face {
    font-family: 'faktummedium';
    src: url('/fonts/faktum/faktum-medium-webfont.woff2') format('woff2'),
         url('/fonts/faktum/faktum-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'faktumbold';
    src: url('/fonts/faktum/faktum-bold-webfont.woff2') format('woff2'),
         url('/fonts/faktum/faktum-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'faktumextrabold';
    src: url('/fonts/faktum/faktum-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/faktum/faktum-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'faktumsemibold';
    src: url('/fonts/faktum/faktum-semibold-webfont.woff2') format('woff2'),
         url('/fonts/faktum/faktum-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'faktumregular';
    src: url('/fonts/faktum/faktum-regular-webfont.woff2') format('woff2'),
         url('/fonts/faktum/faktum-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'faktumlight';
    src: url('/fonts/faktum/faktum-light-webfont.woff2') format('woff2'),
         url('/fonts/faktum/faktum-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'faktumthin';
    src: url('/fonts/faktum/faktum-thin-webfont.woff2') format('woff2'),
         url('/fonts/faktum/faktum-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: "recoletablack";
    src: url("/fonts/recoleta-black-webfont.woff2") format("woff2"),
      url("/fonts/recoleta-black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "recoletabold";
    src: url("/fonts/recoleta-bold-webfont.woff2") format("woff2"),
      url("/fonts/recoleta-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "recoletalight";
    src: url("/fonts/recoleta-light-webfont.woff2") format("woff2"),
      url("/fonts/recoleta-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "recoletamedium";
    src: url("/fonts/recoleta-medium-webfont.woff2") format("woff2"),
      url("/fonts/recoleta-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "recoletaregular";
    src: url("/fonts/recoleta-regular-webfont.woff2") format("woff2"),
      url("/fonts/recoleta-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "recoletasemibold";
    src: url("/fonts/recoleta-semibold-webfont.woff2") format("woff2"),
      url("/fonts/recoleta-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "recoletathin";
    src: url("/fonts/recoleta-thin-webfont.woff2") format("woff2"),
      url("/fonts/recoleta-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  